@font-face {
    font-family: 'NotoBold';
    src: url('../fonts/notosans-bold-webfont.eot');
    src: url('../fonts/notosans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/notosans-bold-webfont.woff2') format('woff2'),
         url('../fonts/notosans-bold-webfont.woff') format('woff'),
         url('../fonts/notosans-bold-webfont.ttf') format('truetype'),
         url('../fonts/notosans-bold-webfont.svg#noto_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoItalic';
    src: url('../fonts/notosans-italic-webfont.eot');
    src: url('../fonts/notosans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/notosans-italic-webfont.woff2') format('woff2'),
         url('../fonts/notosans-italic-webfont.woff') format('woff'),
         url('../fonts/notosans-italic-webfont.ttf') format('truetype'),
         url('../fonts/notosans-italic-webfont.svg#noto_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoRegular';
    src: url('../fonts/notosans-regular-webfont.eot');
    src: url('../fonts/notosans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/notosans-regular-webfont.woff2') format('woff2'),
         url('../fonts/notosans-regular-webfont.woff') format('woff'),
         url('../fonts/notosans-regular-webfont.ttf') format('truetype'),
         url('../fonts/notosans-regular-webfont.svg#noto_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.content{
	
	width: 100%;
	height: 500px;
	margin-top: -20px;
	margin-left: 0;
	
}


#contentIndex{
	
	width: 100%;
	height: 882px;
	margin-top: -20px;
	margin-left: 0;
	background-color: black;
	
}
#header{
	width: 100%;
	height: 22%;
	background-color: #EA1D2E;
	margin: 0 auto;
	}

 .headerIndex{
	width: 100%;
	height: 15%;	 
	background-color: #EA1D2E;
	 
	}

h3{
	font-family: cursive;
	text-align:right;
	text-decoration: none;
	text-transform: uppercase;
	color: #FFF;
	margin:  20px 60px; 
	font-size: 25px;
	padding: 25px;
	float: right;
}

#header h2{
	font-family: cursive;
	text-align:right;
	text-decoration: none;
	text-transform: uppercase;
	color: #FFF;
	margin:  20px 60px; 
	font-size: 25px;
	padding: 25px;
	float: left;
}

#main{
	width: 100%;
	height: 800px;
	background: url(../img/fond_1.jpg);
	background-size: cover;
}

.main{
	width: 100%;
/*	height: 800px;*/
	height: 730px;
	background: url(../img/fond_1.jpg);
	background-size: cover;
}

#main p{
	
	padding: 30px;
}

.text-buttom{
	
	width:84%;
	height: 500px;
	text-align: center;
	padding: 80px ;
}

.text-buttom p{
	font-weight:bold;
	font-family:cursive;
	font-size: 24px;
	font-style: normal;
	text-transform: uppercase;
	text-decoration: none;
	color: #000033;
	text-shadow: 3px 3px 3px dimgray;
}

.text-buttom input{
	
	border-radius: 15px;
	background-color: #EA1D2E;
	font-size: 24px;
	font-family: cursive;
	color: aliceblue;	
}

#footer{
	width: 100%;
	height: 15%;
	margin: 0  0;
	background-color: #EA1D2E;
}

#footer2{
	width: 100%;
	height: 8%;
	margin: -20px   0;
	background-color: #EA1D2E;
}

h2{
	color: aliceblue;
	font-weight:bold;
	font-family:cursive;
	font-size: 15px;
	font-style: normal;
	text-transform:capitalize;
	text-decoration: none;
	float: left;
	padding: 10px 60px;
}

.imagenes{
	width: 350px;
	height: 5%;
	float: right;
	padding: 22px 0;
}

a{
	width: 60px;
	height: 40px;
	display: inline-block;
	float: left;
}

body{  /*asi se aplica un reset*/
    margin: 0;
    padding: 0;
    width: 100%;
    height: 950px;
}
/************************************************/

.calculatorIMC{
	width: 89%;
	height: 61%;
	padding: 136px 70px;
}

label {
	font-family: cursive;
	font-size: 20px;
	text-transform: capitalize;
	color: #000033;
	padding: 5px 10px;
	font-weight: bold;
}

.in{width:176px; height:22px; background-color: darkgray; border-radius:5px; border:0; margin: 0em 1em 1em 8em;}

.f{border:0;}
.btn{width:80px; height:30px; border-radius:4px; background:#22ABF4; border:1px solid #FFF; float:right; margin-right:30px; margin-top:10px; font:13px Arial, Helvetica, sans-serif; color:#FFF; font-weight:bold;}
.btn:hover{background:#FFF; color:#22ABF4; border:1px solid #22ABF4; cursor:pointer;}

.buttomCalculo{
	border-radius: 15px;
	background-color: #EA1D2E;
	font-size: 24px;
	font-family: cursive;
	color: aliceblue;	
	margin: 14px 179px;
}
.contentIMC{
	width: 100%;
	height: 84%;
	margin: -22px auto;
	background:#FFF;
	background:-webkit-gradient(linear,left top,left bottom,from(#FAFAFA),to(#eaeaea));
	background:-moz-linear-gradient(left top,left bottom,from(#FAFAFA),to(#eaeaea));

}
/* Logo */
#logo{width:270px; height:160px;background-image:url(../img/logo.png); float:left;
background-size: cover;}

/* Calculadora */
#calculadora{width:500px; height:320px; float:right; border: 5px solid #000033;}
.genero{
	
	display: inline;
	margin: 42px 0px 16px 91px;
}



/* IMC */
#imc{width:100%; height:auto; padding-left:100px;}
#resultado h1{font:20px , sans-serif; font-weight:bold; color:#FFF; margin-left:50px;}
#resultado h2{font:100px Arial, Helvetic, sans-serif; font-weight:bold; color:#FFF; margin-left:50px;}

/* Calculadora */
#resultado{width:500px; height:406px; background-image:url(../img/res.png); background-repeat:no-repeat; float:right; padding-left:15px; padding-top:40px;}
